<ion-content>

  <div class="flex-container logo">
  <h1>TROCA FIGURINHAS</h1>
  <img src="../../../assets/logoqatar.png" alt="">
  </div>
  
  <div class="flex-container input col-9 mx-auto">
    <p>Login</p>
    <input type="text" class="form-control" id="login">
    <p>Senha</p>
    <input type="password" class="form-control" id="senha">
  </div>
  <div class="flex-container item-btn">
    <button class="btn btn-1 mb-2">Acessar</button>
    <button class="btn btn-2 mb-2">Novo cadastro</button>
  </div>



</ion-content>
