@font-face {
    font-family: 'EA Font v1.5 by Ghettoshark';
    src: url('EASPORTS.woff2') format('woff2'),
        url('EASPORTS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

